body {
  --venmo-blue: #3396cd;
  --venmo-blue-shade: #2b80ae;
  height: 500px;
  width: 400px;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-size: 16px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background: var(--venmo-blue);
}

header img {
  height: 42px;
  margin-right: 1rem;
}

h1 {
  font-weight: 400;
  font-size: 1.6rem;
  margin: 0;
  padding: 0 0 0.5rem 0;
  border-bottom: 1px solid #ddd;
}

h3 {
  font-weight: 400;
}

ol {
  padding-left: 1rem;
}

li {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

li:last-child {
  margin-bottom: 0;
}

button {
  color: white;
  background: var(--venmo-blue);
  letter-spacing: 1px;
  font-weight: 500;
  padding: 1rem 1.5rem;
  transition: 80ms ease-out all;
  user-select: none;
  font-size: 1.25rem;
  border-radius: 0.25rem;
  cursor: pointer;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
}

button:hover {
  background: var(--venmo-blue-shade);
}

a {
  color: var(--venmo-blue);
}

.popup-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.initial-content {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  transition: 80ms ease-in-out all;
  opacity: 1;
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.final-content {
  padding: 1.25rem;
  flex: 1;
  transition: 80ms ease-in-out all;
  opacity: 1;
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
}

.final-content::-webkit-scrollbar {
  width: 0 !important;
}

.final-content h3 {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.green {
  color: #27ae60;
}

.red {
  color: #d63031;
}

.net-total-row {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 1rem 0;
}

.button-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 80ms ease-in-out all;
  opacity: 1;
  visibility: visible;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

h3.results-title {
  font-size: 1.5rem;
  margin: 0;
  padding: 0 0 0.75rem 0;
  border-bottom: 1px solid lightgray;
}
