body {
  height: 500px;
  width: 400px;
  font-family: "Muli", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

header {
  display: flex;
  width: 100%;
  height: 60px;
  background: #3d95ce;
  color: white;
  justify-content: center;
  align-items: center;
}

header img {
  height: 30px;
  margin-right: 1rem;
}

h1 {
  padding: 0 0 0.5rem 0;
  margin: 0;
  font-size: 2.75rem;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 1px;
}

.popup-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.initial-content {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  transition: 80ms ease-in-out all;
  opacity: 1;
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.final-content {
  padding: 1.25rem;
  flex: 1;
  transition: 80ms ease-in-out all;
  opacity: 1;
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
}

.final-content::-webkit-scrollbar { width: 0 !important }

.final-content h3 {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.green {
  color: #27ae60;
}

.red {
  color: #d63031;
}

.net-total-row {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 1rem 0;
}

.button-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 80ms ease-in-out all;
  opacity: 1;
  visibility: visible;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

h3.results-title {
  margin: 0;
  padding: 0 0 .75rem 0;
  font-weight: 900;
  border-bottom: 1px solid lightgray;
}
